.contactus-items .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
    border-color: white;
  }
  
  .contactus-items .MuiFormLabel-root {
    color: white;
  }
  
  .contactus-items .MuiInputBase-input {
    color: white;
  }
  
  .contactus-items .MuiButton-outlined {
    border-color: white;
    color: white;
  }
  
  .contactus-items {
    text-align: left;
    width: 500px;
    height: 600px;
    color: white;
    background-color: #24292d;
    margin-left: 200px;
    margin-bottom: 50px;
  }

  .contactus-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
  
  .barista {
    margin-right: 200px;
  }
  
  .barista-image {
    max-width: 100%;
    height: auto;
    width: 500px;
  }