@import url("https://fonts.googleapis.com/css2?family=Unica+One&display=swap");


body {
    background-color: #313539;
}
.home-items {
    display: flex;
    align-items: stretch;
    justify-content: center;
    position: relative;
}

.home-items img:first-child {
    order: 2;
    align-self: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;  
}

.home-items img:last-child {
    order: 1;
    width: 600px;  
    flex-grow: 1;
}

.home-items-words {
    display: flex;
    flex-direction: column;  
    align-items: flex-start;  
    align-items: stretch;
    text-align: left;
    font-family: "Unica One", Arial, Helvetica, sans-serif;
    margin-left: 50px;
}

.home-items-words h6 {
    margin-top: 10px;
    color: white;
    font-size: 60px;
    font-weight: lighter;
    text-align: left;
    margin-bottom: 5px;
}

.home-items-words p {
    color: rgb(174, 137, 93);
    font-size: 18px;
    text-align: left;
}

.home-item-images {
    display: flex;
    flex-direction: row;  
    align-items: center;
    justify-content: center;
    gap: 20px;
    align-items: flex-start;  

}

.home-item-images img {
    flex-grow: 1;
    align-self: stretch;
    width: 500px;
    height: 300px;
}

.home-item-images p {
    text-align: justify;  
    margin-right: 3%;
}

.card{
    background-color: grey;
    font-family: "Unica One", Arial, Helvetica, sans-serif;
}

.home-card {
    margin-top: 20px;
    margin-right: 20px;
}

.home-card-items {
    display: flex;
    justify-content: space-around; 
    align-items: stretch;
    flex-wrap: wrap; 
    width: 100%;
    margin: auto;
    gap: 20px;
}

.card-item {
    flex: 1 0 30%; 
    max-width: 30%; 
    background-color: grey; 
    box-sizing: border-box; 
    margin: 10px; 
    overflow: auto; 
    font-family: "Unica One", Arial, Helvetica, sans-serif ;

}

.card-item img {
    width: 100%; 
    height: auto; 
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.contact-items {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    gap: 60px;
}

.contact-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}

.contact-items img {
    width: 50px;
    height: 50px;

}
.contact-items p {
    color: white;
    font-family: "Unica One", Arial, Helvetica, sans-serif;
}


 .circle-button {
    margin-top: 20px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(59,64,69);
    margin-bottom: 20px;

}

.circle-button:hover {
    background-color: darkgrey;
}
 
.social {
    margin-top: 20px;
    display: flex;
    justify-content: right;
    align-items: stretch;
    gap: 10px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    height: 50%;
    object-fit: cover;
}


