@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

.menu{
    background-color: #313539;
}

.NavBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; 
}

.menu-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: 'Unica One', sans-serif;
    padding-top: 120px; 
}

.menu-Title {
    margin-top: 5vh;
    color: white;

}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.image-item {
    margin: 10px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-item img {
    max-width: 100%;
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

.image-text {
    margin-top: 5px;
    font-size: 16px;
}
