@import url("https://fonts.googleapis.com/css2?family=Unica+One&display=swap");

.ourstory-items {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.ourstory-items img {
    flex: 1;
    height: auto;
    width: 100%;
}

.ourstory-items h6,
.ourstory-items p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
    z-index: 1;
    font-weight: lighter;
}

.ourstory-items h6 {
    top: 20%;
    font-size: 5vw;
    font-family: "Unica One", sans-serif;
    font-weight: lighter;
}

.ourstory-items p {
    top: 60%;
    font-size: 2vw;
    font-family: "Unica One", sans-serif;
    font: 100%;
}

@media (max-width: 600px) {
    .ourstory-items h6 {
        font-size: 8vw;
    }

    .ourstory-items p {
        font-size: 4vw;
    }
}

/*  */
.ourstory-items, .timeline-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Unica One", sans-serif;
}

.timeline-item {
    position: relative;
    width: 50%;
    margin: auto;
}

.timeline-item:nth-child(odd) {
    align-self: flex-start;
}

.timeline-item:nth-child(even) {
    align-self: flex-end;
}

.timeline-item:nth-child(4) img {
    width: 500px;
    height: 300px;
}

@media (max-width: 600px) {
    .timeline-item {
        width: 50%;
        align-self: center;
    }
}

.ourstory-born {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Unica One", sans-serif;
}

.ourstory-born img {
    width: 50px;
    height: 50px;
}

.ourstory-born p {
    text-align: center;
}

.ourstory-born h6 {
    margin-top: 5px;
    text-align: center;
    font-size: 20px;
}

@media (max-width: 600px) {
    .ourstory-born img {
        width: 25px;
        height: 25px;
    }
}

.horizontal {
    display: block;
    margin: auto;
    width: 400px;
    height: 100px;
    margin-left: 20px;
    margin-right: 100px;
}