@import url("https://fonts.googleapis.com/css2?family=Unica+One&display=swap");

body {
    margin: 0;
    font-family: "Unica One", sans-serif;
    font-size: larger;
}

.SignUpMain {
    background: #ffffffa7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 600px;
    margin-top: 20px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(9, 9, 9, 0.5);
}

.signupForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.signupForm h6 {
    margin-top: 10px;
    font-size: 30px;
    margin-bottom: 10px;
}

.SignUpContainer {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.btnGroup button {
    background-color: rgb(174, 137, 93); 
    color: white; 
}
